<html>

<body>
  <nav class="navbar-fixed">
    <div class="nav-wrapper">
      <a href="/profile/edit-profile"><img class="profileimg" src="{{user.thumbnail}}"></a>
      <span class="brand-logo center"><h4>Hi, {{user.username}}!</h4></span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

  <div class="services container">
    <div class="row offset-m2">
      {{#each foodTrend.data.matches}}
      <div class="col s12 m2">
          <div class="card small">
            <div class="card-image">
              {{#each imageUrlsBySize}}
              <img src="{{this}}">
              {{/each}}
              <span class="card-title"></span>

            </div>
            <div class="card-content">
              <p>{{recipeName}}</p>
            </div>

            <div class="card-action">
              <a href="/profile/{{id}}">Recipe</a>
            </div>
          </div>
      </div>
      {{/each}}
    </div>

    <div class="fridge col s6">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"><img class="fridgepic" src="/images/fridge.png"></th>
            </tr>
          </thead>
          <tbody>
            <!-- hbs each here -->

            <form>
              <tr>
                <th>
                  <input placeholder="Name of dish or main ingredient" id="main" type="text" name="main">
                </th>
              </tr>
              <tr>
                <th>
                  <input placeholder="Ingredient" id="primary" type="text" name="primary">
                </th>
              </tr>
              <tr>
                <th>
                  <input placeholder="Ingredient" id="secondary" type="text" name="secondary">
                </th>
              </tr>
              <tr>
                <th>
                  <input placeholder="Ingredient" id="secondary2" type="text" name="secondary2">
                </th>
              </tr>
              <tr>
                <th>
                  <button formmethod="get" formaction="/profile/fridge-recipes" class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                  </button>
                </th>
              </tr>

            </form>

            <!-- hbs each end here -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>
